In [0]:
#Reading DBFS file
df=spark.read.format('csv').option('inferSchema',True).option('header',True).option('sep',",").load("/FileStore/tables/testing/persons-1.csv")
display(df)
print(df.count())

name,age,gender,salary
John Doe,30,Male,50000
Jane Smith,25,Female,45000
David Johnson,35,Male,60000
Emily Davis,28,Female,52000
Michael Wilson,40,Male,75000
Sarah Brown,32,Female,58000
Robert Lee,29,Male,51000
Lisa Garcia,27,Female,49000
James Martinez,38,Male,70000
Jennifer Rodriguez,26,Female,47000
William Anderson,33,Male,62000
Karen Hernandez,31,Female,55000
Christopher Taylor,37,Male,69000
Mary Gonzalez,24,Female,44000
Matthew Davis,36,Male,67000
Patricia White,29,Female,50000
Daniel Miller,34,Male,64000
Elizabeth Jackson,30,Female,52000
Joseph Harris,28,Male,53000
Linda Martin,39,Female,71000

20

In [0]:
df.sort(df.salary).show()

+------------------+---+------+------+
|              name|age|gender|salary|
+------------------+---+------+------+
|     Mary Gonzalez| 24|Female| 44000|
|        Jane Smith| 25|Female| 45000|
|Jennifer Rodriguez| 26|Female| 47000|
|       Lisa Garcia| 27|Female| 49000|
|          John Doe| 30|  Male| 50000|
|    Patricia White| 29|Female| 50000|
|        Robert Lee| 29|  Male| 51000|
|       Emily Davis| 28|Female| 52000|
| Elizabeth Jackson| 30|Female| 52000|
|     Joseph Harris| 28|  Male| 53000|
|   Karen Hernandez| 31|Female| 55000|
|       Sarah Brown| 32|Female| 58000|
|     David Johnson| 35|  Male| 60000|
|  William Anderson| 33|  Male| 62000|
|     Daniel Miller| 34|  Male| 64000|
|     Matthew Davis| 36|  Male| 67000|
|Christopher Taylor| 37|  Male| 69000|
|    James Martinez| 38|  Male| 70000|
|      Linda Martin| 39|Female| 71000|
|    Michael Wilson| 40|  Male| 75000|
+------------------+---+------+------+

In [0]:
#Descending
df.sort(df.salary.desc()).show()

+------------------+---+------+------+
|              name|age|gender|salary|
+------------------+---+------+------+
|    Michael Wilson| 40|  Male| 75000|
|      Linda Martin| 39|Female| 71000|
|    James Martinez| 38|  Male| 70000|
|Christopher Taylor| 37|  Male| 69000|
|     Matthew Davis| 36|  Male| 67000|
|     Daniel Miller| 34|  Male| 64000|
|  William Anderson| 33|  Male| 62000|
|     David Johnson| 35|  Male| 60000|
|       Sarah Brown| 32|Female| 58000|
|   Karen Hernandez| 31|Female| 55000|
|     Joseph Harris| 28|  Male| 53000|
|       Emily Davis| 28|Female| 52000|
| Elizabeth Jackson| 30|Female| 52000|
|        Robert Lee| 29|  Male| 51000|
|          John Doe| 30|  Male| 50000|
|    Patricia White| 29|Female| 50000|
|       Lisa Garcia| 27|Female| 49000|
|Jennifer Rodriguez| 26|Female| 47000|
|        Jane Smith| 25|Female| 45000|
|     Mary Gonzalez| 24|Female| 44000|
+------------------+---+------+------+

In [0]:
df.groupBy('gender').sum('salary').show()

+------+-----------+
|gender|sum(salary)|
+------+-----------+
|Female|     523000|
|  Male|     621000|
+------+-----------+

In [0]:
df.groupBy('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|   10|
|  Male|   10|
+------+-----+

In [0]:
df.groupBy('gender').min('salary').show()

+------+-----------+
|gender|min(salary)|
+------+-----------+
|Female|      44000|
|  Male|      50000|
+------+-----------+

In [0]:
df.groupBy('gender').max('salary').show()

+------+-----------+
|gender|max(salary)|
+------+-----------+
|Female|      71000|
|  Male|      75000|
+------+-----------+

In [0]:
df1.join(df2,df1.column1==df2=column2,"inner").show()
#similar for outer,left,right