In [0]:
firstDataFrame = spark.range(1000000)
print(firstDataFrame)

DataFrame[id: bigint]

In [0]:
#Reading DBFS file
df=spark.read.format('csv').option('inferSchema',True).option('header',True).option('sep',",").load("/FileStore/tables/testing/persons-1.csv")
display(df)
print(df.count())

name,age,gender,salary
John Doe,30,Male,50000
Jane Smith,25,Female,45000
David Johnson,35,Male,60000
Emily Davis,28,Female,52000
Michael Wilson,40,Male,75000
Sarah Brown,32,Female,58000
Robert Lee,29,Male,51000
Lisa Garcia,27,Female,49000
James Martinez,38,Male,70000
Jennifer Rodriguez,26,Female,47000
William Anderson,33,Male,62000
Karen Hernandez,31,Female,55000
Christopher Taylor,37,Male,69000
Mary Gonzalez,24,Female,44000
Matthew Davis,36,Male,67000
Patricia White,29,Female,50000
Daniel Miller,34,Male,64000
Elizabeth Jackson,30,Female,52000
Joseph Harris,28,Male,53000
Linda Martin,39,Female,71000

20

In [0]:
#Creating Custom Schema
schema="name STRING, age INTEGER, gender STRING, salary INTEGER"
person_df=spark.read.format('csv').schema(schema).option('header',True).option('sep',",").load("/FileStore/tables/testing/persons-1.csv")

In [0]:
#Reading Multiple files

multifile_df=spark.read.format('csv').option('inferSchema',True).option('header',True).option('sep',",").load(["/FileStore/tables/testing/persons-1.csv","/FileStore/tables/testing/products.csv"])
display(multifile_df)

id,name,category,quantity,price
1,iPhone 12,Electronics,10,899.99
2,Nike Air Max 90,Clothing,25,119.99
3,KitchenAid Stand Mixer,Home Appliances,5,299.99
4,The Great Gatsby,Books,50,12.99
5,L'Oreal Paris Mascara,Beauty,100,9.99
6,Yoga Mat,Sports,30,29.99
7,Samsung 4K Smart TV,Electronics,8,799.99
8,Levi's Jeans,Clothing,15,49.99
9,Dyson Vacuum Cleaner,Home Appliances,3,399.99
10,Harry Potter Series,Books,20,15.99
11,MAC Lipstick,Beauty,75,16.99
12,Adidas Running Shoes,Sports,22,59.99
13,PlayStation 5,Electronics,12,499.99
14,Hooded Sweatshirt,Clothing,10,34.99
15,Coffee Maker,Home Appliances,7,89.99
16,To Kill a Mockingbird,Books,15,9.99
17,Skincare Set,Beauty,50,49.99
18,Yoga Ball,Sports,18,19.99
19,Sony Noise-Canceling Headphones,Electronics,6,299.99
20,Puma T-shirt,Clothing,40,19.99
John Doe,30,Male,50000,null
Jane Smith,25,Female,45000,null
David Johnson,35,Male,60000,null
Emily Davis,28,Female,52000,null
Michael Wilson,40,Male,75000,null
Sarah Brown,32,Female,58000,null
Robert Lee,29,Male,51000,null
Lisa Garcia,27,Female,49000,null
James Martinez,38,Male,70000,null
Jennifer Rodriguez,26,Female,47000,null
William Anderson,33,Male,62000,null
Karen Hernandez,31,Female,55000,null
Christopher Taylor,37,Male,69000,null
Mary Gonzalez,24,Female,44000,null
Matthew Davis,36,Male,67000,null
Patricia White,29,Female,50000,null
Daniel Miller,34,Male,64000,null
Elizabeth Jackson,30,Female,52000,null
Joseph Harris,28,Male,53000,null
Linda Martin,39,Female,71000,null

In [0]:
#Creating Alternate type of Schema
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

schema_design=  StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
])

In [0]:
#Filters

In [0]:
display(person_df.filter(person_df.salary>50000))

name,age,gender,salary
David Johnson,35,Male,60000
Emily Davis,28,Female,52000
Michael Wilson,40,Male,75000
Sarah Brown,32,Female,58000
Robert Lee,29,Male,51000
James Martinez,38,Male,70000
William Anderson,33,Male,62000
Karen Hernandez,31,Female,55000
Christopher Taylor,37,Male,69000
Matthew Davis,36,Male,67000
Daniel Miller,34,Male,64000
Elizabeth Jackson,30,Female,52000
Joseph Harris,28,Male,53000
Linda Martin,39,Female,71000

In [0]:
display(person_df.filter((person_df.salary>50000)&(person_df.salary<60000)))

name,age,gender,salary
Emily Davis,28,Female,52000
Sarah Brown,32,Female,58000
Robert Lee,29,Male,51000
Karen Hernandez,31,Female,55000
Elizabeth Jackson,30,Female,52000
Joseph Harris,28,Male,53000

In [0]:
# display(person_df.filter((person_df.name.endswith("h"))))
# display(person_df.filter((person_df.name.startswith("J"))))
display(person_df.filter((person_df.name.contains("K"))))

name,age,gender,salary
Karen Hernandez,31,Female,55000

In [0]:
# display(person_df.filter((person_df.name.like("%Smith"))))
# display(person_df.filter((person_df.name.like("Smith%"))))
display(person_df.filter((person_df.name.like("%Smith%"))))

name,age,gender,salary
Jane Smith,25,Female,45000

In [0]:
display(person_df.filter((person_df.salary.isin(45000,50000))))

name,age,gender,salary
John Doe,30,Male,50000
Jane Smith,25,Female,45000
Patricia White,29,Female,50000